{
	"env": {
		"browser": true
		},
		"globals": {
		"fetch": true
		},
    "parser": "babel-eslint",
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": [
      "react-hooks"
    ],
    "rules": {
      "react/react-in-jsx-scope": 0,
      "react/prop-types": 0,
      "react/jsx-filename-extension": 0,
      "jsx-a11y/anchor-is-valid": 0,
      "no-nested-ternary": "off",
      "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
      
    }
}
